<article class="card">
  <img class="card-image" src={{workoutList[0].image}} alt={{workoutList[0].inst}} />
  <h2 class="card-title">{{workoutList[0].name}}</h2>
  <p class="card-description">{{workoutList[3].desc}}</p>
  <p class="card-level">{{workoutList[0].level}}</p>
  <p class="card-length">{{workoutList[0].len}}</p>
  <hr class="card-line" />
  <p class="card-product"> {{workoutList[0].product}}</p>
  <p class="card-instructor"><span class="card-instructor-title">Instructor</span> {{workoutList[0].inst}}</p>
  <p class="card-category">{{workoutList[0].cat}}</p>
  <p></p>
</article>
