<article class="card" *ngFor="let workout of workoutList;">
  <img class="card-image" [src]="workout.image" [alt]="workout.inst" />
  <h2 class="card-title">{{workout.name}}</h2>
  <p class="card-description">{{workoutList[3].desc}}</p>
  <p class="card-level">{{workout.level}}</p>
  <p class="card-length">{{workout.len}}</p>
  <hr class="card-line" />
  <p class="card-product"> {{workout.product}}</p>
  <p class="card-instructor"><span class="card-instructor-title">Instructor</span> {{workout.inst}}</p>
  <p class="card-category">{{workout.cat}}</p>
  <p></p>
</article>
